<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="ktw_database_menu.factory_extension.routing_class">Knp\Menu\Silex\RoutingExtension</parameter>
        <parameter key="ktw_database_menu.factory_class">kevintweber\KtwDatabaseMenuBundle\Menu\DatabaseMenuFactory</parameter>
        <parameter key="ktw_database_menu.provider_class">kevintweber\KtwDatabaseMenuBundle\Provider\DatabaseMenuProvider</parameter>
    </parameters>

    <services>
        <service id="ktw_database_menu.factory_extension.routing" class="%ktw_database_menu.factory_extension.routing_class%" public="false">
            <argument type="service" id="router" />
            <tag name="knp_menu.factory_extension" />
        </service>

        <service id="ktw_database_menu.factory" class="%ktw_database_menu.factory_class%">
            <argument type="service" id="ktw_database_menu.factory_extension.routing" />
            <argument>%ktw_database_menu.menu_item_entity%</argument>
        </service>

        <service id="ktw_database_menu.provider" class="%ktw_database_menu.provider_class%">
            <argument type="service" id="doctrine.orm.entity_manager" />
            <argument>%ktw_database_menu.menu_item_entity%</argument>
            <tag name="knp_menu.provider" />
        </service>
    </services>
</container>
